/* For Mobile */
@media screen and (max-width: 576px) {
    /* Header start */
    header{
        padding-bottom: 15px;
    }
    nav, .banner, main{
        padding: 0 15px;
    }
    /* Navbar */
    nav{
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    .nav-title{
        text-align: center;
    }
    .nav-links{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    .nav-links a{
        margin-left: 0;
    }
    /* Feature section */
    .features{
        flex-direction: column;
        margin-right: 20px;
        margin-left: 20px;
    }
    .feature-img, .feature-info{
        width: 100%;
    }
    .feature-img{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 24px;
    }
    .feature-info{
        margin: 50px 15px;
    }
    /* Feature lists section */
    .feature-lists{
        flex-direction: column;
        gap: 50px;
    }
    .feature-lists-info, .feature-lists-img{
        width: 100%;
    }
    .floating-btn{
        padding: 20px;
        bottom: -15px;
        left: -15px;
    }
    #floating-btn-title{
        font-size: 30px;
    }
    #floating-btn-description{
        font-size: 16px;
    }
    /* Fact section */
    .fact-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 60px 0 150px;
        gap: 30px
    }
    .facts-description{
        padding-right: 50px;
    }
    /* Projects section */
    .projects-collection{
        grid-template-columns: repeat(1, 1fr);
    }
    /* Sponsor section */
    .sponsors-icon{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    /* Footer */
    .copyright-section{
        margin: 0 15px;
    }
}
/* For Tablet */
@media screen and (max-width: 992px) and (min-width: 577px) {
    /* Feature section */
    .features{
        margin-right: 20px;
        margin-left: 20px;
    }
    /* Feature lists section */
    .feature-lists{
        flex-direction: column;
        gap: 50px;
    }
    .feature-lists-info, .feature-lists-img{
        width: 100%;
    }
    .floating-btn{
        left: -30px;
        bottom: -20px;
    }
    /* Fact section */
    .fact-list{
        margin-right: 0;
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .facts-description{
        padding-right: 250px;
    }
    /* Sponsor section */
    .sponsors-icon{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    /* Projects section */
    .projects-collection{
        grid-template-columns: repeat(2, 1fr);
    }
}
